<div>
  <!--//added with Wes -->

  <div style="text-align:center">
    k
    <h1>Welcome to {{ title }}!</h1>

    <div id="interactive">
      <hr />
      <fieldset>
        <legend>
          New Task
        </legend>
        <form (submit)="onSubmitNew($event, taskForm)" #taskForm="ngForm" autocomplete="off">
          <!-- taskForm matches in both places on this line -->
          <p>{{ newTask | json }}</p>
          <label>
            Task title:

            <input type="text" name="newTask.title" [(ngModel)]="newTask.title" />
          </label>
          <label>
            Task description:
            <input type="text" name="newTask.description" [(ngModel)]="newTask.description" />
          </label>
          <input type="submit" value="Create Task" />
        </form>
      </fieldset>

      <!-- Begin list of all tasks -->
      <fieldset *ngIf="tasks">
        <legend>
          Task List
        </legend>
        <div *ngIf="tasks">
          <fieldset *ngFor="let task of tasks">
            <p>{{ task?.title }}</p>
            <p>{{ task?.description }}</p>
            <button (click)="showEditForm(task)" id="" value="">
              <!-- this should show the edit form -->
              Edit
            </button>
            <button (click)="removeTask(task._id)" id="" value="">
              Delete
            </button>
            <!-- Begin edit form             -->
            <!-- <form (submit)="onSubmitUpdate($event, taskForm)" #taskForm="ngForm" autocomplete="off"> -->

            <!-- //safe navigation
              operator...[from Shannon] don't evaluate properties of task until have it -->
          </fieldset>
        </div>
      </fieldset>
    </div>
    <!--Below edit task form will show up if user has clicked first edit button -->
    <div *ngIf="selectedTask">
      <form (submit)="onSubmitUpdate($event, editForm)" #editForm="ngForm" autocomplete="off">
        <p>{{ selectedTask | json }}</p>
        <p>Edit a task</p>
        <label>
          Task title:

          <input type="text" name="title" [(ngModel)]="selectedTask.title" />
        </label>
        <label>
          Task description:
          <input type="text" name="description" [(ngModel)]="selectedTask.description" />
        </label>
        <input type="submit" value="Update" />
      </form>
    </div>
    <!-- <li>{{ tasks[2].title }} - {{ tasks[2].description }}</li>
wrong way to do single task -->
  </div>
</div>
