<html>
    <head>
        <title>Info about </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>

<body>
    <h2>Info about :</h2>
    <% for (var x in cats) { %>
        <h3>Name: <%= cats[0].name %></h3>
        <h4>Food: <%= cats[0].food %></h4>
        <h4>Age:  <%= cats[0].age %></h4>
        <hr>
        <ul>Sleepss
            <% for (var sl in cats[0].sleep) { %>
                <li> sl </li>
                <% } %>
    <% } %>
</body>
</html>