<html>
    <head>
        <title>Info about </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>

<body>
    <h2>Info about <%catName%>:</h2>
    <% for (var x in cats) { %>
        <h3>Name: <%= cats[x].name %></h3>
        <h4>Food: <%= cats[x].food %></h4>
        <hr>
    <% } %>
</body>
</html>