<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <title>Message Board</title>
</head>
<body>
    <div id="container">
        <h1>
            The Dojo Message Board
        </h1>
        <hr>
        <fieldset>Create New Message
                <form action='/newMessage' method='POST'>
                    Your Name: <input type='text' name='name'>
                    Your Quotation: <input type='text' name='quote'>
                    <input type='submit' value='Post Message'>
            </fieldset>





    </div>



    
</body>
</html>