<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Quotes Welcome Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div id="container">

            <fieldset>Welcome to Coding Dojo
                <form action='/quotes' method='POST'>
                    Your Name: <input type='text' name='name'>
                    Your Quotation: <input type='text' name='quote'>
                    <input type='submit' value='Add my quote!'>
                </form>

                <form action='/quotes' method='GET'>

                <input type='submit' value='Skip to quotes!'>
                </form>
            </fieldset>
        </div>
    </body>
</html>